<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactsManager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LocalizationBuilder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LocalizationHelper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>303A2C5628E2537B00EC398A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090EA22284A559B00D4DF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090EA37284A559C00D4DF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3090EA41284A559C00D4DF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
